.idea
gstreamer-android/gst-android-build/*
gstreamer-android/src/*
gstreamer-android/out/*
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-coredump.la
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-coredump.so
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-coredump.so.0
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-coredump.so.0.0.0
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-generic.so
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-ptrace.la
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-ptrace.so
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-ptrace.so.0
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-ptrace.so.0.0.0
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-setjmp.la
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-setjmp.so
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-setjmp.so.0
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind-setjmp.so.0.0.0
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind.la
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind.so
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind.so.8
gstreamer-android/gcfhvdbcwp4s70wqgs4fdfb744lgl43i-libunwind-1.6.2/lib/libunwind.so.8.0.1
scripts/__pycache__/node.cpython-311.pyc
